<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <nav>
      <h1>길벗누리</h1>
      <a href="../index.html">홈으로</a>
      <a href="../member/login.html">로그인</a>
      <a href="#">로그아웃</a>
      <a href="../trip/mytrip.html">마이페이지</a>
    </nav>
    <h1>출발하지 않은 여행</h1>
    <fieldset>
      <h3>해파랑길 나들이</h3>
      <p>2024년 11월 1일 ~ 2024년 11월 10일</p>
    </fieldset>
    <h1>여행 기록</h1>
    <fieldset>
      <h3>오랜만의 남파랑길 나들이</h3>
      <p>2024년 10월 10일 ~ 2024년 10월 15일</p>
    </fieldset>
    <fieldset>
      <h3>친구집 둘렛길 나들이</h3>
      <p>2024년 09월 12일 ~ 2024년 09월 15일</p>
    </fieldset>
  </body>
</html>
