<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      section {
        display: flex;
      }
    </style>
  </head>

  <body>
    <nav>
      <h1>길벗누리</h1>
      <a href="../index.html">홈으로</a>
      <a href="../member/login.html">로그인</a>
      <a href="#">로그아웃</a>
      <a href="../trip/mytrip.html">마이페이지</a>
    </nav>
    <section>
      <div>
        <h2>목적지: 해파랑길 1코스</h2>
        <img src="../../assets/course-map.png" alt="" />
      </div>
      <div>
        <h3>주변 음식점 정보</h3>
        <ol>
          <li>
            수오복 국밥
            <ul>
              <li>4.3점</li>
              <li>일요일 휴무</li>
            </ul>
            <button>추가하기</button>
          </li>
          <li>
            영진 돼지 국밥
            <ul>
              <li>4.6점</li>
              <li>일요일, 공휴일 휴무</li>
            </ul>
            <button>추가하기</button>
          </li>
          <li>
            신호족발
            <ul>
              <li>5.0점</li>
              <li>일요일 휴무</li>
            </ul>
            <button>추가하기</button>
          </li>
        </ol>
        <h3>주변 숙소 정보</h3>
        <ol>
          <li>
            강서모텔
            <ul>
              <li>4.3점</li>
              <li>풀장 있음</li>
            </ul>
            <button>추가하기</button>
          </li>
          <li>
            해링턴 호텔
            <ul>
              <li>5.0점</li>
              <li>5성급 호텔</li>
            </ul>
            <button>추가하기</button>
          </li>
        </ol>
      </div>
    </section>
    <button>여행 생성하기</button>
  </body>
</html>
