<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>홈</title>
  </head>
  <body>
    <nav>
      <h1>길벗누리</h1>
      <a href="index.html">홈으로</a>
      <a href="login.html">로그인</a>
      <a href="#">로그아웃</a>
      <a href="trip/mytrip.html">마이페이지</a>
    </nav>

    <ul>
      <li><a href="course/course-list.html">코스 상세보기</a></li>
      <li><a href="trip/trip-create.html">여행 계획하기</a></li>
      <li><a href="course/course-review.html">인기 코스 둘러보기</a></li>
    </ul>
  </body>
</html>
