<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>둘레길 후기 게시판</title>
  </head>
  <body>
    <nav>
      <h1>길벗누리</h1>
      <a href="../index.html">홈으로</a>
      <a href="../member/login.html">로그인</a>
      <a href="#">로그아웃</a>
      <a href="../trip/mytrip.html">마이페이지</a>
    </nav>
    <h1>둘레길 후기 게시판</h1>

    <!-- 후기 작성 버튼 -->
    <div>
      <a href="board-regist.html">후기 작성하기</a>
      <a href="../index.html">홈으로 이동하기</a>
    </div>

    <!-- 게시물 리스트 테이블 -->
    <table>
      <thead>
        <tr>
          <th>제목</th>
          <th>작성자</th>
        </tr>
      </thead>
      <tbody>
        <!-- 게시글 1 -->
        <tr>
          <td><a href="board-detail.html">둘레길 A후기...</a></td>
          <td>사용자1</td>
        </tr>
        <!-- 게시글 2 -->
        <tr>
          <td><a href="post-detail.html">가을에 걷기 좋은 둘레길 B</a></td>
          <td>사용자2</td>
        </tr>
        <!-- 게시글 3 -->
        <tr>
          <td><a href="post-detail.html">친구들과 함께 한 둘레길 C 여행</a></td>
          <td>사용자3</td>
        </tr>
        <!-- 게시글 3 -->
        <tr>
          <td><a href="post-detail.html">친구들과 함께 한 둘레길 C 여행</a></td>
          <td>사용자3</td>
        </tr>
        <!-- 게시글 3 -->
        <tr>
          <td><a href="post-detail.html">친구들과 함께 한 둘레길 C 여행</a></td>
          <td>사용자3</td>
        </tr>
        <!-- 게시글 3 -->
        <tr>
          <td><a href="post-detail.html">친구들과 함께 한 둘레길 C 여행</a></td>
          <td>사용자3</td>
        </tr>
        <!-- 게시글 3 -->
        <tr>
          <td><a href="post-detail.html">친구들과 함께 한 둘레길 C 여행</a></td>
          <td>사용자3</td>
        </tr>
        <!-- 게시글 3 -->
        <tr>
          <td><a href="post-detail.html">친구들과 함께 한 둘레길 C 여행</a></td>
          <td>사용자3</td>
        </tr>
        <!-- 게시글 3 -->
        <tr>
          <td><a href="post-detail.html">친구들과 함께 한 둘레길 C 여행</a></td>
          <td>사용자3</td>
        </tr>
        <!-- 게시글 3 -->
        <tr>
          <td><a href="post-detail.html">친구들과 함께 한 둘레길 C 여행</a></td>
          <td>사용자3</td>
        </tr>
        <!-- 게시글 3 -->
        <tr>
          <td><a href="post-detail.html">친구들과 함께 한 둘레길 C 여행</a></td>
          <td>사용자3</td>
        </tr>
        <!-- 게시글 3 -->
        <tr>
          <td><a href="post-detail.html">친구들과 함께 한 둘레길 C 여행</a></td>
          <td>사용자3</td>
        </tr>
        <!-- 게시글 더 추가 가능 -->
      </tbody>
    </table>

    <!-- 페이지네이션 -->
    <div class="pagination">
      <a href="#">&laquo; 이전</a>
      <!-- 이전 페이지로 이동 -->
      <a href="#">1</a>
      <!-- 페이지 번호 -->
      <a href="#">2</a>
      <a href="#">3</a>
      <a href="#">4</a>
      <a href="#">5</a>
      <a href="#">다음 &raquo;</a>
      <!-- 다음 페이지로 이동 -->
    </div>
  </body>
</html>
