<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>해파랑길 상세 보기</title>
  </head>
  <body>
    <nav>
      <h1>길벗누리</h1>
      <a href="../index.html">홈으로</a>
      <a href="../login.html">로그인</a>
      <a href="#">로그아웃</a>
      <a href="../trip/mytrip.html">마이페이지</a>
    </nav>
    <img src="../../assets/course-map.png" alt="코스이미지" />
    <h1>코스 소개</h1>
    <h4>코스 개요</h4>
    <h4>관광 포인트</h4>
    <h4>여행 정보 (주의 사항)</h4>
    <h4></h4>
  </body>
</html>
