<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <nav>
      <h1>길벗누리</h1>
      <a href="../index.html">홈으로</a>
      <a href="../login.html">로그인</a>
      <a href="#">로그아웃</a>
      <a href="../trip/mytrip.html">마이페이지</a>
    </nav>
    <h2>코스 소개</h2>
    <ol>
      <li><a href="course-detail1.html">남파랑길 1코스</a></li>
      <li><a href="course-detail1.html">남파랑길 2코스</a></li>
      <li><a href="course-detail1.html">남파링길 3코스</a></li>
    </ol>
  </body>
</html>
