<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      div {
        display: flex;
      }
      img {
        width: 500px;
        height: 200px;
      }
    </style>
  </head>
  <body>
    <nav>
      <h1>길벗누리</h1>
      <a href="../index.html">홈으로</a>
      <a href="../member/login.html">로그인</a>
      <a href="#">로그아웃</a>
      <a href="../trip/mytrip.html">마이페이지</a>
    </nav>
    <h1>인기 코스</h1>
    <h3>해파랑길</h3>
    <div>
      해파랑길 1코스
      <img src="../../assets/course-map.png" alt="" />
      해파랑길 2코스
      <img src="../../assets/course-map2.png" alt="" />
      해파랑길 3코스
      <img src="../../assets/course-map3.png" alt="" />
    </div>
    <h3>남파랑길</h3>
    <div>
      남파랑길 1코스
      <img src="../../assets/course-map.png" alt="" />
      남파랑길 2코스
      <img src="../../assets/course-map2.png" alt="" />
      남파랑길 3코스
      <img src="../../assets/course-map3.png" alt="" />
    </div>
    <h3>서해랑길</h3>
    <div>
      서해랑길 1코스
      <img src="../../assets/course-map.png" alt="" />
      서해랑길 2코스
      <img src="../../assets/course-map2.png" alt="" />
      서해랑길 3코스
      <img src="../../assets/course-map3.png" alt="" />
    </div>
  </body>
</html>
